:host .status {
  display: flex;
  flex-wrap: nowrap;
}

:host .status > * {
  align-self: flex-start;
}

:host > div > ul {
  margin-bottom: 50px;
  margin-top: 50px;
}

:host .username {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
}

:host .username {
  vertical-align: top;
}

:host li {
  list-style-type: none;
}

:host .actions {
  margin: 0;
}

:host .actions li {
  display: inline-block;
}
