.presence {
  border-radius: 100%;
  display: inline-block;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: text-top;
  width: 20px;
}

.presence.online {
  background-color: green;
}

.presence.offline {
  background-color: darkgrey;
}

.presence.idle {
  background-color: yellow;
}
