:host ul {
  padding-left: 5px;
  padding-right: 5px;
}

:host ul li {
  background-color: #eee;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 5px;
  margin-left: 0;
  margin-top: 8px;
  padding: 6px;
}

:host input[type='checkbox'] {
  display: inline-block;
}

:host input[type='text'] {
  font-size: 1em;
  margin: 5px;
  padding: 10px;
  width: calc(100% - 10px);
}

